@import "../../scss/fonts.scss";
@import "../../scss/variables.scss";

.test-plate{
  width: 75%;
  height: 500px;

  &__container{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__title{
    font-weight: 600;
    color:rgba($color-logo,.6);
  }

  &__questions{
    input{
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 390px) {
  .test-plate{
    // width: 80%;
  }
}

@media screen and (min-width: 391px) and (max-width: 721px){
  .test-plate{
    // width: 560px;
  }
}